.Box {
  background-color: rgba(white, .77);
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 3rem 4rem 0.3rem;
}
.Box__categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 0;
}
.Box__categories__item {
  margin-bottom: 4rem;
  width: 23%;
}
.Box__categories__figure {
  border-radius: 5px;
  cursor: pointer;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  &--purple {
    background-color: $purple;
  }
  &--green {
    background-color: $green;
  }
  &--skyBlue {
    background-color: $skyBlue;
  }
  &--skyBlueHard {
    background-color: $skyBlueHard;
  }
  &--lightGreen {
    background-color: $lightGreen;
  }
  &--yellow {
    background-color: $yellow;
  }
  &:hover {
    .Box__categories__icon {
      transform: scale(1.1);
    }
  }
}
.Box__categories__icon {
  color: rgba(white, .77);
  bottom: 15px;
  font-size: 2em;
  position: absolute;
  right: 15px;
  transition: transform .3s ease-out;
  text-shadow: 1px 1px 3px rgba($grey, 0.8);
  &.active {
    color: $red;
  }
}
