.Box {
  background-color: rgba(white, .77);
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 3rem 4rem 0.3rem;
}
.Box__categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.Box__categories__item {
  margin-bottom: 1.5rem;
  width: 23%;
}
.Box__categories__figure {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 255px;
  margin-bottom: 0;
  opacity: 1;
  position: relative;
  transition: opacity .2s ease-in;
  &::before {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    content: "";
    height: 100%;
    left: 0;
    opacity: .3;
    position: absolute;
    top: 0;
    transition: opacity .3s ease-out;
    width: 100%;
    z-index: -1;
  }
  &--purple {
    background-color: $purple;
    &::before {
      background-image: url('./../images/fondo.jpg');
    }
  }
  &--green {
    background-color: $green;
    &::before {
      background-image: url('./../images/fondo.jpg');
    }
  }
  &--skyBlue {
    background-color: $skyBlue;
    &::before {
      background-image: url('./../images/fondo.jpg');
    }
  }
  &--skyBlueHard {
    background-color: $skyBlueHard;
    &::before {
      background-image: url('./../images/fondo.jpg');
    }
  }
  &--lightGreen {
    background-color: $lightGreen;
    &::before {
      background-image: url('./../images/fondo.jpg');
    }
  }
  &--yellow {
    background-color: $yellow;
    &::before {
      background-image: url('./../images/fondo.jpg');
    }
  }
  &:hover {
    opacity: .8;
    .Box__categories__icon {
      transform: scale(1.1);
    }
  }
}
.Box__categories__icon {
  color: rgba(white, .77);
  bottom: 15px;
  font-size: 2em;
  position: absolute;
  right: 15px;
  transition: transform .3s ease-out;
  text-shadow: 1px 1px 3px rgba($grey, 0.8);
  &.active {
    color: $red;
  }
}
.Box__categories__title {
  color: white;
  font-family: $montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}
.Box__modal {
  align-content: space-around;
  background-color: $skyBlue;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  height: 70%;
  margin: 0 15%;
  opacity: 0;
  padding: 2.5rem;
  position: absolute;
  transform: scale(0);
  transition: opacity .2s ease-out, transform .3s ease-in;
  width: 70%;
  &.active {
    opacity: 1;
    transform: scale(1);
  }
}
.Box__modal__header {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}
.Box__modal__figure {
  margin-right: 2rem;
}
.Box__modal__info {
  p {
    color: white;
    font-family: $opensans;
    font-size: 1.25rem;
  }
}
.Box__modal__title {
  color: white;
  font-size: 3.25rem;
  font-weight: 700;
}
.Box__modal__body {
  width: 100%;
}
.Box__modal__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
  padding-left: 0;
  li {
    align-items: center;
    background-color: rgba(white, .5);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    list-style: none;
    margin-bottom: 2.5rem;
    &.active {
      background-color: #005a88;
      .Box__modal__list__figure {
        [class^="icon-"] {
          color: white;
        }
      }
      .Box__modal__list__title {
        color: white;
      }
    }
  }
}
.Box__modal__list__figure {
  border-right: 1px solid white;
  margin-bottom: 0;
  padding: .8rem;
  [class^="icon-"] {
    color: #005a88;
    font-size: 1.5rem;
  }
}
.Box__modal__list__title {
  color: #005a88;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0 .8rem;
}
