.Btn {
  @include border-radius(24px);
  border: none;
  display: inline-block;
  font-family: $montserrat;
  font-size: 1em;
  font-weight: 700;
  padding: .8rem 2.5rem;
  @include transition(background-color .3s ease, color .5s ease-out);
  &--outline {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    &--red {
      border-color: $red;
      color: $red;
      &:focus, &:hover {
        background-color: $red;
        color: white;
      }
    }
    &--white {
      border-color: white;
      color: white;
      &:focus, &:hover {
        background-color: white;
        color: $red;
      }
    }
  }
  &--green {
    background-color: $green;
    color: white;
    &:focus, &:hover {
      background-color: $greenSoft;
      color: white;
    }
  }
  &--lightGreen {
    background-color: $lightGreen;
    color: white;
    &:focus, &:hover {
      background-color: $greenSoft;
      color: white;
    }
  }
  &--red {
    background-color: $red;
    color: white;
    &:focus, &:hover {
      background-color: lighten($red, .6);
      color: white;
    }
  }
  &--facebook {
    background-color: $blueFb;
    border-radius: 5px;
    color: white;
    font-size: 1.25rem;
    @media screen and (max-width: 767px) {
      font-size: .875rem;
    }
    &:focus, &:hover {
      background-color: lighten($blueFb, 5%);
      color: white;
      text-decoration: none;
    }
  }
}
