.Carousel {
  &--home {
    background-color: $green;
    height: 100vh;
    .Carousel__inner {
      height: 100%;
    }
    .Carousel__item {
      height: 100%;
    }
    .Carousel__body {
      display: flex;
      align-content: center;
      height: 100%;
    }
    .Carousel__caption, .Carousel__figure {
      width: 50%;
    }
    .Carousel__caption {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      bottom: auto;
      left: auto;
      padding: 0 0 0 13rem;
      position: relative;
      right: auto;
      text-align: left;
      @media screen and (max-width: 1399px) {
        padding-left: 8rem;
      }
      @media screen and (max-width: 1199px) {
        padding-left: 1rem;
      }
      p {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125em;
      }
    }
    .Carousel__title, p {
      width: 100%;
    }
    .Carousel__title {
      color: $red;
      font-family: 'Montserrat', sans-serif;
      font-size: 7em;
      font-weight: bold;
      text-shadow: none;
    }
    .Carousel__text {
      margin-bottom: 3rem;
    }
    .Carousel__figure {
      display: flex;
      justify-content: center;
      img {
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
    .Carousel__bottom {
      bottom: 15px;
      position: absolute;
      text-align: center;
      width: 100%;
    }
    .Carousel__bottom--btn {
      background-color: $greenSoft;
      border: none;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      font-size: 1.5em;
      padding: .5em .8em;
      transition: transform .3s ease-out;
      transform: scale(1);
      &:focus, &:hover {
        transform: scale(1.1);
        text-decoration: none;
      }
    }
    .Carousel__indicators {
      align-items: center;
      bottom: 80px;
      li {
        border-radius: 50%;
        cursor: pointer;
        height: 11px;
        width: 11px;
        transition: width .2s ease, height .2s ease-in-out;
        &.active {
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}
