.Footer {
  background-color: $whiteSoft;
  padding: 1.5rem 0;
}
.Footer__nav {
  display: flex;
  height: 100%;
}
.Footer__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}
.Footer__menu__item {
  font-family: $montserrat;
  font-weight: 700;
  a {
    color: $grey;
    transition: color .4s ease-in;
    &:focus, &:hover {
      color: $greyHard;
      text-decoration: none;
    }
  }
}
.Footer__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  @media screen and (max-width: 991px) {
    justify-content: center;
  }
}
.Footer__social__item {
  font-size: 1.5em;
  margin-right: 10px;
  a {
    color: $grey;
    transition: color .4s ease-in;
    &:focus, &:hover {
      color: $greyHard;
      text-decoration: none;
    }
  }
}
