.Footer {
  background-color: $whiteSoft;
  padding: 1.5rem 0;
}
.Footer__logo {
  text-align: center;
  a {
    display: block;
  }
  @media screen and (max-width: 991px) {
    text-align: left;
  }
}
.Footer__nav {
  display: flex;
  height: 100%;
  @media screen and (max-width: 991px) {
    margin-top: 1rem;
  }
}
.Footer__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
.Footer__menu__item {
  font-family: $montserrat;
  font-weight: 700;
  @media screen and (max-width: 991px) {
    font-size: .875rem;
  }
  @media screen and (max-width: 767px) {
    flex: 0 1;
    text-align: center;
  }
  a {
    color: $grey;
    display: block;
    transition: color .4s ease-in;
    &:focus, &:hover {
      color: $greyHard;
      text-decoration: none;
    }
  }
}
.Footer__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.Footer__social__item {
  font-size: 1.5rem;
  margin-right: 10px;
  @media screen and (max-width: 991px) {
    font-size: 2rem;
    margin-right: 1em;
  }
  &:last-child {
    margin-right: 0;
  }
  a {
    color: $grey;
    display: block;
    transition: color .4s ease-in;
    &:focus, &:hover {
      color: $greyHard;
      text-decoration: none;
    }
  }
}
