.Form {

}
.Form__group {
  margin-bottom: 2rem;
  .form-check-label {
    color: $greyHard;
    font-family: $montserrat;
    font-weight: 300;
  }
}
.Form__label {
  color: $greySoft;
  font-family: $montserrat;
  font-size: 0.875em;
  font-weight: 700;
}
.Form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $greySoft;
  border-radius: 0;
  color: $greyHard;
  font-family: $opensans;
  font-weight: 600;
  input-placeholder {
    color: $greySoft;
  }
  &:focus {
    background-color: transparent;
  }
  &--date {
    &[readonly] {
      background-color: transparent;
    }
  }
}
.Form__options {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  @media screen and (max-width: 1400px) {
    margin: 1.5rem 0;
  }
  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
    justify-content: center;
    a {
      margin-bottom: 1rem;
      text-align: center;
      width: 100%;
    }
  }
}
.vdp-datepicker {
  .input-group-text {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $greySoft;
  }
  .vdp-datepicker__calendar-button {
    order: 1;
  }
}
