.Form {

}
.Form__group {
  margin-bottom: 3rem;
  .form-check-label {
    color: $greyHard;
    font-family: $montserrat;
    font-weight: 300;
  }
}
.Form__label {
  color: $greySoft;
  font-family: $montserrat;
  font-size: 0.875em;
  font-weight: 700;
}
.Form__input {
  &[type="text"], &[type="email"], &[type="password"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $greySoft;
    border-radius: 0;
    color: $greyHard;
    font-family: $opensans;
    font-weight: 600;
    input-placeholder {
      color: $greySoft;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($grey, .25);
    }
  }
}
.Form__options {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
