.Page {
  position: relative;
  &--images {
    background: url('./../images/bg-circle-small.png') 10% top no-repeat,
                url('./../images/bg-circle-big.png') 0 bottom no-repeat;
    padding-bottom: 15rem;
    padding-top: 7rem;
  }
  &--bg {
    background: transparent url('./../images/bg-register.jpg') center top no-repeat;
    background-size: cover;
  }
  &--vh {
    align-items: center;
    display: flex;
    min-height: var(--height-page);
    padding-top: var(--height-header);
  }
}
.Page__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  margin-bottom: 1.5rem;
  &--big {
    font-size: 6.5em;
  }
  &--medium {
    font-size: 3em;
  }
}
