// Colors:
$green: #00bd9c;
$greenSoft: #0ad5b2;
$lightGreen: #4fd393; // Verde claro
$turquesa: #53DAD3;
$red: #D44F50;
$grey: #6c6c6c;
$greyHard: #2c2c2c;
$greySoft: #4f5050;
$whiteSoft: #f7f8f9;
$purple: #a084cb; // Morado
$skyBlue: #3b83c6;  // celeste
$skyBlueHard: #4fabd3; // Celeste Feriado
$skyBlueLight: #98C2D2;
$yellow: #f8dc5a;
$blue: #1c4d6c;
$blueFb: #3b5998;

// Fonts:
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;
