// Colors:
$green: #00bd9c;
$greenSoft: #0ad5b2;
$lightGreen: #5ccf8c;
$red: #d3473c;
$grey: #6c6c6c;
$greyHard: #2c2c2c;
$greySoft: #4f5050;
$whiteSoft: #f7f8f9;
$purple: #a084cb;
$skyBlue: #4fabd3;
$skyBlueHard: #51b9bc;
$yellow: #f8dc5a;
$blue: #1c4d6c;
$blueFb: #3b5998;

// Fonts:
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;
